.hero-contacto {
    height: 40rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='2000' height='560' x='0' y='0' fill='rgba(163%2c 212%2c 248%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c834.352C153.372%2c840.23%2c261.531%2c689.744%2c382.846%2c595.721C493.318%2c510.102%2c625.157%2c438.993%2c677.39%2c309.354C728.852%2c181.629%2c664.23%2c42.607%2c661.171%2c-95.062C657.581%2c-256.622%2c759.769%2c-444.622%2c657.85%2c-570.03C556.565%2c-694.659%2c355.143%2c-646.026%2c195.984%2c-667.461C61.868%2c-685.523%2c-72.6%2c-727.411%2c-201.353%2c-685.745C-328.483%2c-644.604%2c-406.826%2c-527.598%2c-507.546%2c-439.791C-627.009%2c-335.645%2c-818.179%2c-277.575%2c-848.079%2c-121.935C-877.815%2c32.854%2c-739.526%2c167.365%2c-648.971%2c296.375C-572.206%2c405.739%2c-467.31%2c481.808%2c-364.442%2c567.082C-246.066%2c665.212%2c-153.648%2c828.464%2c0%2c834.352' fill='%2390cbf7'%3e%3c/path%3e%3cpath d='M2000 1225.81C2121.921 1204.9009999999998 2185.271 1073.1280000000002 2275.137 988.1220000000001 2346.979 920.165 2423.275 861.2570000000001 2474.695 776.7860000000001 2531.571 683.352 2599.362 584.281 2587.132 475.58299999999997 2574.819 366.148 2477.596 291.643 2410.303 204.47000000000003 2338.582 111.56 2288.112-7.071000000000026 2179.745-52.15599999999995 2067.921-98.67899999999997 1939.633-75.43299999999999 1823.982-39.462999999999965 1709.588-3.8840000000000146 1601.064 56.03399999999999 1527.608 150.67000000000002 1456.114 242.77800000000002 1425.635 360.47900000000004 1423.067 477.05 1420.683 585.289 1475.366 680.8340000000001 1513.699 782.086 1555.0529999999999 891.318 1570.425 1015.453 1656.704 1094.1779999999999 1749.108 1178.492 1876.711 1246.953 2000 1225.81' fill='%23b6ddfa'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.titulo_section {
    max-width: 80rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}

.titulo {
    color: var(--color-Blanco);
    margin-bottom: 1rem;
}


.maps{
    width: 100%;
}

.contacto{
    max-width: 120rem;
    margin: 0 auto;
}

.contacto__titulo {
    color: var(--color-secundario);
    margin-bottom: 1rem;
}

.contacto__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.contacto__subtitulo{
    font-family: var(--fuente-secundaria);
    font-size: 2.5rem;
}

.contacto__texto {
    width: 100%;
    max-width: 50rem;
    font-size: 1.8rem;
 
}

.contacto__formulario{
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
}